In [1]:
import matplotlib.pyplot as plt # For plotting
import numpy as np              # Linear algebra library
import pandas as pd             # For manipulating tabular data

In [2]:
! pwd
data = pd.read_csv("../metadata/length_and_depth.csv")
data

/Users/felixgao/Desktop/Year3/STA378/OptimizationParameterTuning/Julia Notebook/src

      problem  nvar        objtype  length  depth
0        NZF1    91  least_squares     250      8
1     arglina   100  least_squares   10404      9
2     arglinb   100  least_squares   40200      8
3     arglinc   100          other   39204      7
4     argtrig   100          other     497      7
..        ...   ...            ...     ...    ...
100    tridia   100          other     398      6
101    vardim   100          other     798      6
102  vibrbeam     8  least_squares     481     13
103    watson    31  least_squares    3900     12
104     woods   100          other     425      7

[105 rows x 5 columns]