In [57]:
import pandas as pd
import os
df = pd.read_csv(os.path.join("..", "results", "complete_dataset_as_of_nov6.csv"))
df

,status,name,solver,mem,nvar,time,memory,num_iter,nvmops,neval_obj,init_eval_obj_time,init_eval_obj_mem,init_eval_obj_alloc,neval_grad,init_eval_grad_time,init_eval_grad_mem,init_eval_grad_alloc,is_init_run,is_scalable
0,first_order,NZF1,LBFGSSolver,1,91,4.288660,157.757840,287,287,328,0.081003,14.372224,272238,315,0.670754,78.970656,1527227,True,False
1,first_order,NZF1,LBFGSSolver,1,91,1.409402,0.125416,287,287,328,0.000014,0.000592,3,315,0.000031,0.001440,5,False,False
2,first_order,NZF1,LBFGSSolver,2,91,1.407668,0.095296,199,199,223,0.000002,0.000592,3,216,0.000019,0.001440,5,False,False
3,first_order,NZF1,LBFGSSolver,3,91,1.407882,0.103456,213,213,234,0.000002,0.000592,3,228,0.000016,0.001440,5,False,False
4,first_order,NZF1,LBFGSSolver,4,91,1.407476,0.098352,191,191,209,0.000002,0.000592,3,203,0.000017,0.001440,5,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19010,first_order,woods,LBFGSSolver,96,1000,1.482090,3.197624,64,64,84,0.000002,0.000592,3,75,0.001356,0.008664,5,False,True
19011,first_order,woods,LBFGSSolver,97,1000,1.481800,3.229800,64,64,84,0.000003,0.000592,3,75,0.001373,0.008664,5,False,True
19012,first_order,woods,LBFGSSolver,98,1000,1.482000,3.261976,64,64,84,0.000002,0.000592,3,75,0.001367,0.008664,5,False,True
19013,first_order,woods,LBFGSSolver,99,1000,1.481908,3.294152,64,64,84,0.000003,0.000592,3,75,0.001358,0.008664,5,False,True
19014,first_order,woods,LBFGSSolver,100,1000,1.483005,3.326648,64,64,84,0.000002,0.000592,3,75,0.001365,0.008664,5,False,True

In [59]:
df.columns

Index(['status', 'name', 'solver', 'mem', 'nvar', 'time', 'memory', 'num_iter',
       'nvmops', 'neval_obj', 'init_eval_obj_time', 'init_eval_obj_mem',
       'init_eval_obj_alloc', 'neval_grad', 'init_eval_grad_time',
       'init_eval_grad_mem', 'init_eval_grad_alloc', 'is_init_run',
       'is_scalable'],
      dtype='object')

In [ ]:
name_df = df["name"].unique()
len(name_df)

105

In [38]:
scalable_df = df[df["nvar"] > 100]
# scalable_df = scalable_df[scalable_df["mem"] == 2]
scalable_df.reset_index()

,index,status,name,solver,mem,nvar,time,memory,num_iter,nvmops,neval_obj,init_eval_obj_time,init_eval_obj_mem,init_eval_obj_alloc,neval_grad,init_eval_grad_time,init_eval_grad_mem,init_eval_grad_alloc,is_init_run,is_scalable
0,10605,first_order,NZF1,LBFGSSolver,1,988,6.552515,157.626064,384,384,416,0.076121,14.373488,272238,408,0.641441,78.961776,1527225,True,True
1,10606,first_order,NZF1,LBFGSSolver,1,988,3.749198,0.254040,384,384,416,0.000007,0.000592,3,408,0.001685,0.008600,5,False,True
2,10607,first_order,NZF1,LBFGSSolver,2,988,3.708994,0.275368,355,355,390,0.000006,0.000592,3,383,0.001706,0.008600,5,False,True
3,10608,first_order,NZF1,LBFGSSolver,3,988,3.678197,0.298904,333,333,364,0.000004,0.000592,3,357,0.001649,0.008600,5,False,True
4,10609,first_order,NZF1,LBFGSSolver,4,988,3.639499,0.320824,306,306,335,0.000018,0.000592,3,328,0.001690,0.008600,5,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8405,19010,first_order,woods,LBFGSSolver,96,1000,1.482090,3.197624,64,64,84,0.000002,0.000592,3,75,0.001356,0.008664,5,False,True
8406,19011,first_order,woods,LBFGSSolver,97,1000,1.481800,3.229800,64,64,84,0.000003,0.000592,3,75,0.001373,0.008664,5,False,True
8407,19012,first_order,woods,LBFGSSolver,98,1000,1.482000,3.261976,64,64,84,0.000002,0.000592,3,75,0.001367,0.008664,5,False,True
8408,19013,first_order,woods,LBFGSSolver,99,1000,1.481908,3.294152,64,64,84,0.000003,0.000592,3,75,0.001358,0.008664,5,False,True
8409,19014,first_order,woods,LBFGSSolver,100,1000,1.483005,3.326648,64,64,84,0.000002,0.000592,3,75,0.001365,0.008664,5,False,True

In [40]:
regular_df = df[df["is_scalable"] == False]
regular_df.describe()

,mem,nvar,time,memory,num_iter,nvmops,neval_obj,init_eval_obj_time,init_eval_obj_mem,init_eval_obj_alloc,neval_grad,init_eval_grad_time,init_eval_grad_mem,init_eval_grad_alloc
count,10605.000000,10605.000000,10605.000000,10605.000000,1.060500e+04,1.060500e+04,1.060500e+04,10605.000000,10605.000000,10605.000000,1.060500e+04,10605.000000,10605.000000,1.060500e+04
mean,50.009901,77.942857,2.296611,52.903215,3.479491e+04,3.479491e+04,6.682276e+05,0.000596,0.102462,2080.172654,6.482068e+04,0.002268,0.240264,4.091145e+03
std,29.139317,39.071701,8.313994,442.930031,4.214981e+05,4.214981e+05,6.360738e+06,0.007108,1.248106,23485.334342,6.898070e+05,0.023099,2.160850,4.063194e+04
min,1.000000,5.000000,0.004524,0.008440,1.000000e+00,1.000000e+00,3.000000e+00,0.000001,0.000592,3.000000,3.000000e+00,0.000002,0.000688,5.000000e+00
25%,25.000000,99.000000,0.701955,0.125840,2.200000e+01,2.200000e+01,3.700000e+01,0.000002,0.000592,3.000000,2.600000e+01,0.000026,0.001440,5.000000e+00
50%,50.000000,100.000000,1.280459,0.260688,6.500000e+01,6.500000e+01,8.200000e+01,0.000003,0.000592,3.000000,7.600000e+01,0.000052,0.001520,5.000000e+00
75%,75.000000,100.000000,1.373494,0.413856,1.990000e+02,1.990000e+02,2.230000e+02,0.000011,0.000592,3.000000,2.150000e+02,0.000109,0.001520,5.000000e+00
max,100.000000,100.000000,61.388196,7831.400856,1.824898e+07,1.824898e+07,7.159750e+07,0.252012,45.707672,842357.000000,2.360250e+07,0.670754,78.970656,1.527227e+06

In [56]:
regular_df[regular_df["mem"] == 100].count()

status                  105
name                    105
solver                  105
mem                     105
nvar                    105
time                    105
memory                  105
num_iter                105
nvmops                  105
neval_obj               105
init_eval_obj_time      105
init_eval_obj_mem       105
init_eval_obj_alloc     105
neval_grad              105
init_eval_grad_time     105
init_eval_grad_mem      105
init_eval_grad_alloc    105
is_init_run             105
is_scalable             105
dtype: int64

In [39]:
scalable_df.describe()

,mem,nvar,time,memory,num_iter,nvmops,neval_obj,init_eval_obj_time,init_eval_obj_mem,init_eval_obj_alloc,neval_grad,init_eval_grad_time,init_eval_grad_mem,init_eval_grad_alloc
count,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8410.000000,8.410000e+03
mean,49.891201,998.162545,28.120798,3506.285966,2991.828537,2991.828537,5834.623068,0.001184,0.102940,1924.076338,3455.830440,0.076747,0.516719,3.683815e+03
std,29.171245,7.418393,69.518209,31656.933975,8782.777822,8782.777822,25076.608720,0.008927,1.316203,24614.393249,10299.434086,0.609676,3.132621,4.377400e+04
min,1.000000,961.000000,1.084694,0.112024,1.000000,1.000000,3.000000,0.000001,0.000592,3.000000,3.000000,0.000891,0.008408,5.000000e+00
25%,25.000000,1000.000000,1.378413,1.242200,21.000000,21.000000,36.000000,0.000004,0.000592,3.000000,26.000000,0.002535,0.008664,5.000000e+00
50%,50.000000,1000.000000,2.580421,2.210624,134.000000,134.000000,149.000000,0.000016,0.000592,3.000000,147.000000,0.004662,0.008664,5.000000e+00
75%,75.000000,1000.000000,14.049879,3.117356,1418.000000,1418.000000,1907.000000,0.000053,0.000592,3.000000,1905.750000,0.011820,0.008664,5.000000e+00
max,100.000000,1000.000000,301.532641,293422.940352,76190.000000,76190.000000,215646.000000,0.258728,45.657440,842360.000000,100937.000000,5.869260,78.961776,1.527225e+06