In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [2]:
df = pd.read_csv("../results/complete_data_and_metadata.csv")
df

,status,problem,solver,mem,nvar,time,memory,num_iter,nvmops,neval_obj,...,neval_grad,init_eval_grad_time,init_eval_grad_mem,init_eval_grad_alloc,is_init_run,is_scalable,objtype,variable_nvar,expr_length,expr_depth
0,first_order,NZF1,LBFGSSolver,1,91,1.409402,0.125416,287,287,328,...,315,0.000031,0.001440,5,False,False,least_squares,True,250,8
1,first_order,NZF1,LBFGSSolver,2,91,1.407668,0.095296,199,199,223,...,216,0.000019,0.001440,5,False,False,least_squares,True,250,8
2,first_order,NZF1,LBFGSSolver,3,91,1.407882,0.103456,213,213,234,...,228,0.000016,0.001440,5,False,False,least_squares,True,250,8
3,first_order,NZF1,LBFGSSolver,4,91,1.407476,0.098352,191,191,209,...,203,0.000017,0.001440,5,False,False,least_squares,True,250,8
4,first_order,NZF1,LBFGSSolver,5,91,1.407906,0.108416,209,209,231,...,225,0.000017,0.001440,5,False,False,least_squares,True,250,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18821,first_order,woods,LBFGSSolver,96,1000,1.482090,3.197624,64,64,84,...,75,0.001356,0.008664,5,False,True,other,True,425,7
18822,first_order,woods,LBFGSSolver,97,1000,1.481800,3.229800,64,64,84,...,75,0.001373,0.008664,5,False,True,other,True,425,7
18823,first_order,woods,LBFGSSolver,98,1000,1.482000,3.261976,64,64,84,...,75,0.001367,0.008664,5,False,True,other,True,425,7
18824,first_order,woods,LBFGSSolver,99,1000,1.481908,3.294152,64,64,84,...,75,0.001358,0.008664,5,False,True,other,True,425,7
18825,first_order,woods,LBFGSSolver,100,1000,1.483005,3.326648,64,64,84,...,75,0.001365,0.008664,5,False,True,other,True,425,7

In [3]:
df = df.rename(columns={
    "expr_length": "expr_leaves_count",
    "expr_depth": "expr_max_depth",
})

feature_cols = ["nvar", 
                "expr_leaves_count", 
                "expr_max_depth", 
                "init_eval_obj_time", 
                "init_eval_grad_time",
                "mem",
                ]
target_col = "time"
df["log_time"] = np.log(df["time"])
df

,status,problem,solver,mem,nvar,time,memory,num_iter,nvmops,neval_obj,...,init_eval_grad_time,init_eval_grad_mem,init_eval_grad_alloc,is_init_run,is_scalable,objtype,variable_nvar,expr_leaves_count,expr_max_depth,log_time
0,first_order,NZF1,LBFGSSolver,1,91,1.409402,0.125416,287,287,328,...,0.000031,0.001440,5,False,False,least_squares,True,250,8,0.343166
1,first_order,NZF1,LBFGSSolver,2,91,1.407668,0.095296,199,199,223,...,0.000019,0.001440,5,False,False,least_squares,True,250,8,0.341934
2,first_order,NZF1,LBFGSSolver,3,91,1.407882,0.103456,213,213,234,...,0.000016,0.001440,5,False,False,least_squares,True,250,8,0.342086
3,first_order,NZF1,LBFGSSolver,4,91,1.407476,0.098352,191,191,209,...,0.000017,0.001440,5,False,False,least_squares,True,250,8,0.341798
4,first_order,NZF1,LBFGSSolver,5,91,1.407906,0.108416,209,209,231,...,0.000017,0.001440,5,False,False,least_squares,True,250,8,0.342104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18821,first_order,woods,LBFGSSolver,96,1000,1.482090,3.197624,64,64,84,...,0.001356,0.008664,5,False,True,other,True,425,7,0.393453
18822,first_order,woods,LBFGSSolver,97,1000,1.481800,3.229800,64,64,84,...,0.001373,0.008664,5,False,True,other,True,425,7,0.393258
18823,first_order,woods,LBFGSSolver,98,1000,1.482000,3.261976,64,64,84,...,0.001367,0.008664,5,False,True,other,True,425,7,0.393392
18824,first_order,woods,LBFGSSolver,99,1000,1.481908,3.294152,64,64,84,...,0.001358,0.008664,5,False,True,other,True,425,7,0.393330
18825,first_order,woods,LBFGSSolver,100,1000,1.483005,3.326648,64,64,84,...,0.001365,0.008664,5,False,True,other,True,425,7,0.394070

In [4]:
df[feature_cols].describe()

,nvar,expr_leaves_count,expr_max_depth,init_eval_obj_time,init_eval_grad_time,mem
count,18826.000000,18826.000000,18826.000000,18826.000000,18826.000000,18826.00000
mean,484.919792,2858.909062,7.350579,0.000269,0.033050,50.44890
std,458.000808,7601.999150,1.882133,0.003285,0.406776,28.88095
min,5.000000,109.000000,4.000000,0.000001,0.000002,1.00000
25%,100.000000,396.000000,6.000000,0.000003,0.000045,25.00000
50%,100.000000,690.000000,7.000000,0.000006,0.000178,50.00000
75%,1000.000000,974.000000,8.000000,0.000023,0.004493,75.00000
max,1000.000000,40200.000000,13.000000,0.047225,5.683890,100.00000

In [5]:
df[target_col].describe()

count    18826.000000
mean        13.590847
std         48.041225
min          0.004524
25%          1.256812
50%          1.366869
75%          2.393711
max        301.532641
Name: time, dtype: float64

In [6]:
np.log(df[target_col]).describe()

count    18826.000000
mean         0.671700
std          1.651204
min         -5.398353
25%          0.228578
50%          0.312523
75%          0.872845
max          5.708878
Name: time, dtype: float64

In [7]:
features = []
features = feature_cols + ["time", "log_time"]
features

['nvar',
 'expr_leaves_count',
 'expr_max_depth',
 'init_eval_obj_time',
 'init_eval_grad_time',
 'mem',
 'time',
 'log_time']

In [15]:
os.makedirs("../boxplots", exist_ok=True)

for feature in features:
    plt.figure(figsize=(7, 5))              # create a fresh figure
    plt.boxplot(df[feature].dropna())       # plot only this feature
    plt.title(f"Box Plot Showing the Distribution of '{feature}'")
    plt.tight_layout()
    plt.savefig(f"../boxplots/{feature}.pdf", bbox_inches="tight")
    plt.close()                              # close so next loop starts clean

In [16]:
df[feature_cols].describe()

,nvar,expr_leaves_count,expr_max_depth,init_eval_obj_time,init_eval_grad_time,mem
count,18826.000000,18826.000000,18826.000000,18826.000000,18826.000000,18826.00000
mean,484.919792,2858.909062,7.350579,0.000269,0.033050,50.44890
std,458.000808,7601.999150,1.882133,0.003285,0.406776,28.88095
min,5.000000,109.000000,4.000000,0.000001,0.000002,1.00000
25%,100.000000,396.000000,6.000000,0.000003,0.000045,25.00000
50%,100.000000,690.000000,7.000000,0.000006,0.000178,50.00000
75%,1000.000000,974.000000,8.000000,0.000023,0.004493,75.00000
max,1000.000000,40200.000000,13.000000,0.047225,5.683890,100.00000